#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=The Ultimate Python Seaborn Tutorial: Gotta Catch 'Em All
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pnilnmiehobhmfhcddmbjdhaepacgmog
Icon=chrome-pnilnmiehobhmfhcddmbjdhaepacgmog-Default
StartupWMClass=crx_pnilnmiehobhmfhcddmbjdhaepacgmog
